{% load static options %}
<section class="services section" id="about_us">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title align-left">
                    <span class="wow fadeInDown" data-wow-delay=".2s">{% get_editable_label 'ABOUT_COMPANY' %}</span>
                    {% get_editable_text 'COMPANY_SCOPE' 'title' 'text' %}
                    <h2 class="wow fadeInUp" data-wow-delay=".4s">{{ title }}</h2>
                    <p class="wow fadeInUp" data-wow-delay=".6s">{{ text }}</p>
                </div>
            </div>
        </div>
        <div class="single-head">
            <img class="service-patern wow fadeInLeft" data-wow-delay=".5s"
                src="{% static 'images/service/service-patern.png' %}" alt="#">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="single-service wow fadeInUp" data-wow-delay=".2s">
                        <h3><a href="service-single.html">Редактирование объявлений</a></h3>
                        <div class="icon">
                            <i class="lni lni-microscope"></i>
                        </div>
                        <p>Одной из основных наших задачь это редактирование объявлений, ежедневно через нас проходят тысячи штук</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="single-service wow fadeInUp" data-wow-delay=".4s">
                        <h3><a href="service-single.html">Проведения эфиров и телеэфиров</a></h3>
                        <div class="icon">
                            <i class="lni lni-blackboard"></i>
                        </div>
                        <p>Ежедневно в наших подразделениях проводятся эфиры и телеэфиры на разные темы</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="single-service wow fadeInUp" data-wow-delay=".6s">
                        <h3><a href="service-single.html">Продажа и печать газет</a></h3>
                        <div class="icon">
                            <i class="lni lni-ux"></i>
                        </div>
                        <p>Всю прессу, которую вы покупаете у нас в Республике, печатаем, именно - мы!</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="single-service wow fadeInUp" data-wow-delay=".8s">
                        <h3><a href="service-single.html">Написания статей</a></h3>
                        <div class="icon">
                            <i class="lni lni-graph"></i>
                        </div>
                        <p>В последнее время в ТРК набрал популярность отдел ООС, где в неделю выходят от 5 статей. Наши сотрудники очень стараются, чтобы вам было интересно читать.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>