{% load static options %}
<section class="services section" id="about_us">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title align-left">
                    <span class="wow fadeInDown" data-wow-delay=".2s">{% get_editable_label 'ABOUT_COMPANY' %}</span>
                    {% get_editable_text 'COMPANY_SCOPE' 'title' 'text' %}
                    <h2 class="wow fadeInUp" data-wow-delay=".4s">{{ title }}</h2>
                    <p class="wow fadeInUp" data-wow-delay=".6s">{{ text }}</p>
                </div>
            </div>
        </div>
        <div class="single-head">
            <img class="service-patern wow fadeInLeft" data-wow-delay=".5s"
            src="{% static 'images/service/service-patern.png' %}" alt="#">
            <div class="row">
                {% for item in goal %}
                    {% if item.active %}
                        <div class="col-lg-3 col-md-6 col-12">
                            <div class="single-service wow fadeInUp" data-wow-delay=".2s">
                                <h3><a href="service-single.html">{{ item.title }}</a></h3>
                                <div class="icon">
                                    <i class="{{ item.img_class }}"></i>
                                </div>
                                <p>{{ item.body }}</p>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</section>