{% load static %}
<div class="latest-news-area section" id="articles">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <span class="wow fadeInDown" data-wow-delay=".2s">последнии статьи</span>
                    <h2 class="wow fadeInUp" data-wow-delay=".4s">Последнии статьи и новости</h2>
                    <p class="wow fadeInUp" data-wow-delay=".6s">Последнии важные новости и статьи из отдела ООС, вы можете посмотреть и прочитать прямо тут.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-12">

                <div class="single-news wow fadeInUp" data-wow-delay=".2s">
                    <div class="image">
                        <img class="thumb" src="{% static 'images/blog/blog-grid1.jpg' %}" alt="#">
                        <div class="meta-details">
                            <img src="{% static 'images/blog/author.jpg' %}" alt="#"> <span>Fred Fakers | TV-C</span>
                        </div>
                    </div>
                    <div class="content-body">
                        <h4 class="title"><a href="# ">Рыбалка</a></h4>
                        <p>Сегодня мы с вами поговорим о рыбалке, а именно о той которая находится на пирсе г. Los-Santos на пляже Santa-Maria. С начала мая рыбаки начали ловить рыбу на маленьких ставках, реках и т.п. </p>
                    </div>
                </div>

            </div>
            <div class="col-lg-4 col-md-6 col-12">

                <div class="single-news wow fadeInUp" data-wow-delay=".4s">
                    <div class="image">
                        <img class="thumb" src="{% static 'images/blog/blog-grid2.jpg' %}" alt="#">
                        <div class="meta-details">
                            <img src="{% static 'images/blog/author.jpg' %}" alt="#"> <span>Toni CartWright | SFFM</span>
                        </div>
                    </div>
                    <div class="content-body">
                        <h4 class="title"><a href="#">Убийство в Сан-Фиерро</a></h4>
                        <p>Сегодня утром просматривая свои каналы, Директор Радиоцентра наткнулся на информацию, что сегодня произошло убийство в городе. Взял камеру, машину и поехал.</p>
                    </div>
                </div>

            </div>
            <div class="col-lg-4 col-md-6 col-12">

                <div class="single-news wow fadeInUp" data-wow-delay=".6s">
                    <div class="image">
                        <img class="thumb" src="{% static 'images/blog/blog-grid3.jpg' %}" alt="#">
                        <div class="meta-details">
                            <img src="{% static 'images/blog/author.jpg' %}" alt="#"> <span>Daniel Liddell | TV-C</span>
                        </div>
                    </div>
                    <div class="content-body">
                        <h4 class="title"><a href="#">Empire of Ackerman насилуют детей?</a></h4>
                        <p>Сегодня утром произошло очень страшное происшествие. Один человек из очень значимой семьи под названием Ackerman Family изнасиловал маленькую девочку. Ситуация прошла возле Больницы Las-Venturas. </p>
                    </div>
                </div>

            </div>
            <div class="button d-flex justify-content-center mt-5">
                <a class="btn" href="#">Посмотреть всё</a>
            </div>
        </div>
    </div>
</div>