{% load static options %}
<div class="latest-news-area section" id="articles">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <span class="wow fadeInDown" data-wow-delay=".2s">{% get_editable_label 'ARTICLES' %}</span>
                    {% get_editable_text 'LAST_ARTICLES' 'title' 'text' %}
                    <h2 class="wow fadeInUp" data-wow-delay=".4s">{{ title }}</h2>
                    <p class="wow fadeInUp" data-wow-delay=".6s">{{ text }}</p>
                </div>
            </div>
        </div>
        <div class="row">
            {% for item in news %}
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="single-news wow fadeInUp" data-wow-delay=".2s">
                        {% if item.image %}
                            <div class="image">
                                <img class="thumb" src="{{ item.image.url }}" alt="#">
                                <div class="meta-details">
                                    <img src="{% static 'images/blog/author.jpg' %}" alt="#"> <span>{{ item.author }} | {{ item.podr }}</span>
                                </div>
                            </div>
                        {% endif %}
                        <div class="content-body">
                            <h4 class="title"><a href="{{ item.get_absolute_url }}">{{ item.title }}</a></h4>
                            <p>{{ item.content_short|safe }} </p>
                        </div>
                    </div>
                </div>
            {% endfor %}

            <div class="button d-flex justify-content-center mt-5">
                <a class="btn" href="/news">Посмотреть всё</a>
            </div>
        </div>
    </div>
</div>