{% load static options %}
<section class="about-us section" id="departmens">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-12">
                <div class="about-left">
                    <div class="section-title align-left">
                        <span class="wow fadeInDown" data-wow-delay=".2s">{% get_editable_label 'DEPARTMENS' %}</span>
                        {% get_editable_text 'DEPARTMENS' 'title' 'text' %}
                        <h2 class="wow fadeInUp" data-wow-delay=".4s">{{ title }}</h2>
                        <p class="wow fadeInUp" data-wow-delay=".6s">{{ text }}</p>
                    </div>
                    <div class="about-tab wow fadeInUp" data-wow-delay=".4s">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            {% for item in deparment %}
                                {% if item.active %}
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#t-tab{{ forloop.counter }}"
                                        role="tab">{{ item.title }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}                           
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            {% for item in deparment %}
                                {% if item.active %}
                                    <div class="tab-pane fade" id="t-tab{{ forloop.counter }}" role="tabpanel">
                                        <div class="tab-content">
                                            {{ item.body|safe }}
                                            {% if item.show_list %}
                                            <ul>
                                                {% for items in item.deparmentlist_set.all %}
                                                <li><i class="lni lni-checkmark-circle"></i>{{ items.punkt }}</li>
                                                {% endfor %}
                                            </ul>
                                            {% endif %}
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-12">
                <div class="about-right wow fadeInRight" data-wow-delay=".4s">
                    <img src="{% static 'images/about/about-img.png' %}" alt="#">
                </div>
            </div>
        </div>
    </div>
</section>