{% load options static %}
<section class="hero-area">
    <div class="hero-inner">
        <div class="container">
            <div class="row ">
                <div class="col-lg-6 co-12">
                    <div class="home-slider">
                        <div class="hero-text">
                            {% get_editable_text 'ABOUT_COMPANY' 'title' 'text' %}
                            <h1 class="wow fadeInUp" data-wow-delay=".3">{{ title }}</h1>
                            <audio autoplay controls class="mb-4">
                                <source src="{% static 'mp3/himn.mp3' %}" type="audio/mpeg">
                            </audio>
                            <p class="wow fadeInUp" data-wow-delay=".5s">{{ text }}</p>
                            <div class="button wow fadeInUp" data-wow-delay=".7s">
                                <a href="{% get_option 'FORUM_MM_LINK' %}" target="_blank" class="btn">Мы на портале республики</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>