<section class="hero-area">
    <div class="hero-inner">
        <div class="container">
            <div class="row ">
                <div class="col-lg-6 co-12">
                    <div class="home-slider">
                        <div class="hero-text">
                            <h1 class="wow fadeInUp" data-wow-delay=".3">Телерадиокомпания "Advance Mass Media"</h1>
                            <p class="wow fadeInUp" data-wow-delay=".5s">Телерадиокомпания занимается распространением информации по всей республике, ведением эфиров по телевизорам и радио, а также сбор и распространение информации в печатном виде.</p>
                            <div class="button wow fadeInUp" data-wow-delay=".7s">
                                <a href="about-us.html" class="btn">Мы на портале республики</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ End Single Slider -->
</section>