
{% extends "newsapp/layout.html" %}
{% load i18n static options %}

{% block newsapp_content %}
<div class="latest-news-area section" id="articles">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <span class="wow fadeInDown" data-wow-delay=".2s">{% get_editable_label 'ARTICLES' %}</span>
                    {% get_editable_text 'LAST_ARTICLES' 'title' 'text' %}
                    <h2 class="wow fadeInUp" data-wow-delay=".4s">{{ title }}</h2>
                    <p class="wow fadeInUp" data-wow-delay=".6s">{{ text }}</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-12">

                <div class="single-news wow fadeInUp" data-wow-delay=".2s">
                    <div class="image">
                        <img class="thumb" src="{% static 'images/blog/blog-grid1.jpg' %}" alt="#">
                        <div class="meta-details">
                            <img src="{% static 'images/blog/author.jpg' %}" alt="#"> <span>Fred Fakers | TV-C</span>
                        </div>
                    </div>
                    <div class="content-body">
                        <h4 class="title"><a href="# ">Рыбалка</a></h4>
                        <p>Сегодня мы с вами поговорим о рыбалке, а именно о той которая находится на пирсе г. Los-Santos на пляже Santa-Maria. С начала мая рыбаки начали ловить рыбу на маленьких ставках, реках и т.п. </p>
                    </div>
                </div>

            </div>
            <div class="col-lg-4 col-md-6 col-12">

                <div class="single-news wow fadeInUp" data-wow-delay=".4s">
                    <div class="image">
                        <img class="thumb" src="{% static 'images/blog/blog-grid2.jpg' %}" alt="#">
                        <div class="meta-details">
                            <img src="{% static 'images/blog/author.jpg' %}" alt="#"> <span>Toni CartWright | SFFM</span>
                        </div>
                    </div>
                    <div class="content-body">
                        <h4 class="title"><a href="#">Убийство в Сан-Фиерро</a></h4>
                        <p>Сегодня утром просматривая свои каналы, Директор Радиоцентра наткнулся на информацию, что сегодня произошло убийство в городе. Взял камеру, машину и поехал.</p>
                    </div>
                </div>

            </div>
            <div class="col-lg-4 col-md-6 col-12">

                <div class="single-news wow fadeInUp" data-wow-delay=".6s">
                    <div class="image">
                        <img class="thumb" src="{% static 'images/blog/blog-grid3.jpg' %}" alt="#">
                        <div class="meta-details">
                            <img src="{% static 'images/blog/author.jpg' %}" alt="#"> <span>Daniel Liddell | TV-C</span>
                        </div>
                    </div>
                    <div class="content-body">
                        <h4 class="title"><a href="#">Empire of Ackerman насилуют детей?</a></h4>
                        <p>Сегодня утром произошло очень страшное происшествие. Один человек из очень значимой семьи под названием Ackerman Family изнасиловал маленькую девочку. Ситуация прошла возле Больницы Las-Venturas. </p>
                    </div>
                </div>

            </div>
            <div class="button d-flex justify-content-center mt-5">
                <a class="btn" href="#">Посмотреть всё</a>
            </div>
        </div>
    </div>
</div>
    <section class="newsapp-list">
        {% block heading %}
            <h1>{% trans "news"|capfirst %}
                {% if current_category %}<small>{% trans "category" %}: {{ current_category.title }}</small>{% endif %}
                {% if current_tag %}<small>{% trans "tag" %}: {{ current_tag.title }}</small>{% endif %}

                {% if archive_date %}<small>({% if month %}{{ archive_date|date:"F Y" }}{% else %}{% trans "year"|capfirst %} {{ archive_date|date:"Y" }}{% endif %})</small>{% endif %}{% if news_list.has_previous %}<small> - {% trans "page" %} {{ news_list.number }}</small>{% endif %}
            </h1>
        {% endblock heading %}

        {% block newsapp_categories %}
            {% if categories_list %}
                <div class="b-p-cats b-p-cats_pos_left">
                    {# <li{% if not current_category %} class="active"{% endif %}><a href="{% url "news_all" %}">{% trans "all"|capfirst %}</a></li> #}
                    {% for category in categories_list %}
                        <a href="{{ category.get_absolute_url }}" {% if current_category.slug == category.slug %} class="b-p-cats__active"{% endif %}>{{ category.title }}</a>
                    {% endfor %}
                </div>
            {% endif %}
        {% endblock newsapp_categories %}


        {% if news_list %}
            {% for item in news_list.object_list %}
                <article>
                    <time datetime="{{ item.date_added|date:"Y.m.d" }}">{{ item.date_added|date:"d.m.Y" }}</time>
                    <h2><a href="{{ item.get_absolute_url }}">{{ item.title }}</a></h2>
                        {% if item.image %}
                            <figure>
                                <a href="{{ item.image.url }}" title="{{ item.title }}">
                                    <img src="{{ item.image.url }}" alt="{{ item.title }}" />
                                </a>
                            </figure>
                        {% endif %}
                        {{ item.content_short|safe }}

                    <br clear="all">

                    {% if item.content %}
                        <a href="{{ item.get_absolute_url }}">{{ item.get_more_text }}</a>
                    {% endif %}

                    <div class="taxonomy-wrap">
                        <div class="taxonomy categories">
                            <span>{% trans "categories"|capfirst %}:</span>
                            {% for category in item.new_category.all %}
                                <a href="{{ category.get_absolute_url }}">{{ category.title }}</a>
                            {% endfor %}
                        </div>

                        <div class="taxonomy tags">
                            <span>{% trans "tags"|capfirst %}:</span>
                            {% for tag in item.tag.all %}
                                <a href="{{ tag.get_absolute_url }}">{{ tag.title }}</a>
                            {% endfor %}
                        </div>
                    </div>


                    <br clear="all">

                </article>
            {% endfor %}

            <br clear="all">

            {% if news_list.has_other_pages %}
                <ul class="newsapp-pagination">
                    {% if news_list.has_previous %}
                        <li>
                            <li><a href="{% url 'news_all' %}{{ url_params }}page-{{ news_list.previous_page_number }}/">«</a></li>
                    {% endif %}

                    {% for page in news_list.paginator.page_range %}
                        <li{% if page == news_list.number %} class="active"{% endif %}><a href="{% url 'news_all' %}{{ url_params }}page-{{ page }}/">{{ page }}</a></li>
                    {% endfor %}

                    {% if news_list.has_next %}
                        <li><a href="{% url 'news_all' %}{{ url_params }}page-{{ news_list.next_page_number }}/">»</a></li>
                    {% endif %}
                </ul>
            {% endif %}
        {% else %}
            {% trans "News not found!" %}
        {% endif %}
    </section>
{% endblock newsapp_content %}

